body {
    margin: 30px;
    font-family: 'Raleway';
    background-image: url("./images/strat-background.jpg");
    background-color: #CAB8FF ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    


}


#message-button a {
    
    font-size: 30px;
    color: #FCFFA6;
    text-decoration: none;
    padding: 20px;
    background-color: #3D2C8D ;
    border-radius: 10px;
    
}

