body {
    margin: 40px;
    font-family: 'Raleway';
    background-image: url(./images/strat-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    


}


#message-button a {
    
    font-size: 30px;
    color: #FCFFA6;
    text-decoration: none;
    padding: 20px;
    background-color: #3D2C8D ;
    border-radius: 10px;
    
}

/* #message a:hover {

    color: white;
    background-color: black;
    border: white 2px solid;
    border-radius: 10px;

} */