body {
    font-family: 'Raleway';
    background-color: #CAB8FF ;
}

#container{
    padding-top: 50px;
    margin: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 50px;
}

p {
    font-size: 20px;
}

#message{
    color: #FCFFA6;
}

#button {
    margin-top: 10%;
}

#button a {
    font-size: 20px;
    color: #FCFFA6;
    text-decoration: none;
    padding: 20px;
    background-color: #3D2C8D ;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

